name: Publish

on:
  workflow_dispatch:


permissions:           # You may need this permission for removing old releases
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Rollback Release
        if: failure() && steps.create_release.outputs.id != ''
        uses: author/action-rollback@stable
        with:
          # Using a known release ID
          id: ${{ steps.create_release.id }}
          # Using a tag name
          tag: ${{ steps.autotagger.outputs.tagname }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}